*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--clr-white: hsl(0, 0%, 100%);
	--clr-purple-100: hsl(254, 88%, 90%);
	--clr-purple-500: hsl(256, 67%, 59%);
	--clr-yellow-100: hsl(31, 66%, 93%);
	--clr-yellow-500: hsl(39, 100%, 71%);
	--clr-background: #f5f5f5;
	--clr-black: hsl(0, 0%, 7%);
	--fw-normal: 400;
	--fw-semi-bold: 500;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.8rem;
	background-color: var(--clr-background);
	min-height: 100vh;
}
